apiVersion: v1
kind: ConfigMap
metadata:
  name: cacao-config
data:
  # address for other services to use within the cluster
  api-internal-address: "{{ CACAO_API_ADDRESS | default('http://api') }}"

  # log level for services that can use internal
  log-level: "{{ CACAO_LOG_LEVEL | default('info') }}"

  api-auth-driver: "{{ CACAO_AUTH_DRIVER }}"

  api-simpletoken-username: "{{ SIMPLETOKEN_USERNAME | default('testuser') }}"
  api-simpletoken-token: "{{ SIMPLETOKEN_TOKEN | default('testpassword') }}"

  # nats related config for cacao
  nats.url: "{{ NATS_ADDRESS }}"