apiVersion: v1
kind: ConfigMap
metadata:
  name: globus-config
data:
  GLOBUS_URL: "{{ GLOBUS_URL | default('https://auth.globus.org/v2/oauth2') }}"
  API_GLOBUS_REDIRECT_URL: "{{ GLOBUS_API_REDIRECT_URL | default('') }}"
  API_GLOBUS_CLIENT_ID: "{{ GLOBUS_API_CLIENT_ID | default('') }}"
  API_GLOBUS_CLIENT_SECRET: "{{ GLOBUS_API_CLIENT_SECRET | default('') }}"


