apiVersion: v1
kind: ConfigMap
metadata:
  name: ion-config
data:
  theme: "{{ ION_THEME | default('cyverse') }}"
  session-secret: "{{ ION_SESSION_SECRET }}"
  ion-ui-base-url: "{{ ION_UI_BASE_URL }}"
  ion-ws-base-url: "{{ ION_WS_BASE_URL }}"
  ion-api-base-url: "{{ ION_API_BASE_URL }}"
{% if CACAO_AUTH_DRIVER == "globus" %}
  ion-globus-client-id: "{{ ION_GLOBUS_CLIENT }}"
  ion-globus-secret: "{{ ION_GLOBUS_SECRET }}"
{% elif CACAO_AUTH_DRIVER == "keycloak" %}
  ion-keycloak-client-id: "{{ ION_KEYCLOAK_CLIENT }}"
  ion-keycloak-secret: "{{ ION_KEYCLOAK_SECRET }}"
{% endif %}