apiVersion: v1
kind: Service
metadata:
  labels:
    service: nats
    app: nats
  name: nats
spec:
  ports:
  - name: "tcp"
    port: 4222
  - name: "cluster"
    port: 6222
  - name: "monitor"
    port: 8222
  - name: "metrics"
    port: 7777
  selector:
    service: nats
status:
  loadBalancer: {}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: stan-config
data:
  stan.conf: |
    http: 8222

    cluster {
      port: 6222
      routes [
{% for n in range(0,NATS_NUM_REPLICAS) %}
        nats://nats-{{ n }}.nats:6222
{% endfor %}
      ]
      cluster_advertise: $CLUSTER_ADVERTISE
      connect_retries: 10
      name: cacao-cluster
    }

    streaming {
      id: "cacao-cluster"
      store: file
      dir: /data/stan/store
      ft_group_name: "cacao-cluster"
      file_options {
          buffer_size: 32mb
          sync_on_flush: false
          slice_max_bytes: 512mb
          parallel_recovery: 64
      }
      store_limits {
          max_channels: 10
          max_msgs: 0
          max_bytes: 256gb
          max_age: 1h
          max_subs: 128
      }  
    }

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    service: nats
    app: nats
  name: nats
spec:
  serviceName: nats
  replicas: {{ NATS_NUM_REPLICAS }}
  selector:
    matchLabels:
      service: nats
  template:
    metadata:
      labels:
        service: nats
        app: nats
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - image: nats-streaming
        name: nats
        args:
          - "-sc"
          - "/etc/stan-config/stan.conf"
        ports:
        - containerPort: 4222
          name: "client"
        - containerPort: 6222
          name: "cluster"
        - containerPort: 8222
          name: "monitor"
        env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: CLUSTER_ADVERTISE
            value: $(POD_NAME).nats
        volumeMounts:
          - name: config-volume
            mountPath: /etc/stan-config
{% if LOCAL_PATH_PROVISIONER_ENABLE is defined and LOCAL_PATH_PROVISIONER_NATS_ENABLE is defined and LOCAL_PATH_PROVISIONER_ENABLE|bool and LOCAL_PATH_PROVISIONER_NATS_ENABLE|bool %}
          - name: stan-volume
            mountPath: /data/stan
{% endif %}
        resources:
          requests:
            cpu: 0
        livenessProbe:
          httpGet:
            path: /
            port: 8222
          initialDelaySeconds: 10
          timeoutSeconds: 5
      - name: metrics
        image: synadia/prometheus-nats-exporter:0.5.0
        args:
          - -connz
          - -routez
          - -subz
          - -varz
          - -channelz
          - -serverz
          - http://localhost:8222
        ports:
          - containerPort: 7777
            name: metrics
      volumes:
        - name: config-volume
          configMap:
            name: stan-config
{% if LOCAL_PATH_PROVISIONER_ENABLE is defined and LOCAL_PATH_PROVISIONER_NATS_ENABLE is defined and LOCAL_PATH_PROVISIONER_ENABLE|bool and LOCAL_PATH_PROVISIONER_NATS_ENABLE|bool %}
        - name: stan-volume
          persistentVolumeClaim:
            claimName: stan-local-path-pvc
{% endif %}
