# We need to split nginx ingress into parts due to ion bug similar to:
# https://stackoverflow.com/questions/60238210/problems-with-a-react-application-deployed-on-k8s
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cacao-ion-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
{% if SSL_REDIRECT %}
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
{% endif %}
spec:
{% if not IS_DEV_ENVIRONMENT %}
  tls:
   - hosts:
     - '{{ API_DOMAIN }}'
     secretName: {{ TLS_SECRET_NAME }}
{% endif %}
  rules:
{% if IS_DEV_ENVIRONMENT %}
  - http:
{% else %}
  - host: '{{ API_DOMAIN }}'
    http:
{% endif %}
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: ion
            port:
              number: 3010
      - path: /ws/(.*)
        pathType: Prefix
        backend:
          service:
            name: ion
            port:
              number: 3011
---
# This definition is for /api and keycloak
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cacao-api-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$1
{% if SSL_REDIRECT %}
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
{% endif %}
spec:
{% if not IS_DEV_ENVIRONMENT %}
  tls:
   - hosts:
     - '{{ API_DOMAIN }}'
     secretName: {{ TLS_SECRET_NAME }}
{% endif %}
  rules:
{% if IS_DEV_ENVIRONMENT %}
  - http:
{% else %}
  - host: '{{ API_DOMAIN }}'
    http:
{% endif %}
      paths:
      - path: /api/(.*)
        pathType: Prefix
        backend:
          service:
            name: api
            port:
              number: 80
{% if CACAO_AUTH_DRIVER == "keycloak" and KEYCLOAK_LOCAL is defined and KEYCLOAK_LOCAL %}
      - path: /(auth/.*)
        pathType: Prefix
        backend:
          service:
            name: keycloak
            port:
              number: 80
{% endif %}
