apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: provider-openstack-service
  name: provider-openstack-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: provider-openstack-service
  template:
    metadata:
      labels:
        service: provider-openstack-service
    spec:
      containers:
        - image: provider_openstack_service
          name: provider-openstack-service
          env:
          - name: NATS_URL
            value: {{ NATS_ADDRESS }}
          - name: NATS_CLIENT_ID
            value: provider-openstack-client
          - name: NATS_QUEUE_GROUP
            value: provider-openstack-queue
      restartPolicy: Always
status: {}
